table {
    text-align: center;
    background: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.grey-row {
    background-color: #dddddd;
}

.table-wrapper {
    max-height: 500px;
    overflow-y: scroll;
}