<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{form.page.title}"></title>
</head>
<body>
<h1 th:text="#{form.page.headline}"> </h1>
<div>
    <form th:object="${car}" th:action="@{/cars/new}" method="post">
        <label th:for="registrationNumber_input_id" th:text="#{car.registrationNumber}"></label>
        <br>
        <input type="text" id="registrationNumber_input_id" th:field="*{registrationNumber}">
        <br>
        <br>
        <label th:for="name_input_id" th:text="#{car.name}"></label>
        <br>
        <input type="text" id="name_input_id" th:field="*{name}">
        <br>
        <br>
        <label th:for="color_input_id" th:text="#{car.color}"></label>
        <br>
        <input type="text" id="color_input_id" th:field="*{color}">
        <br>
        <br>
        <label th:for="yearOfProduction_input_id" th:text="#{car.yearOfProduction}"></label>
        <br>
        <input type="text" id="yearOfProduction_input_id" th:field="*{yearOfProduction}">
        <br>
        <br>
</form>
</div>
<nav>
    <div>
        <a th:href="@{/cars}">
            <button type="button" th:text="#{form.page.add.button}"></button>
        </a>
        <br>
        <br>
    </div>
  <div>
    <a th:href="@{/}">
      <button type="button" th:text="#{form.page.button.return}"></button>
    </a>
  </div>
</nav>

</body>
</html>