<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{form.page.title}"></title>
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1 th:text="#{form.page.headline}"> </h1>
<div>
    <form th:object="${car}" th:action="@{/car/new}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.error}"></p>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <label th:for="registrationNumber_input_id" th:text="#{brokenCar.registrationNumber}"></label>
        <br>
        <input type="text" id="registrationNumber_input_id" th:field="*{registrationNumber}">
        <br>
        <br>
        <label th:for="name_input_id" th:text="#{brokenCar.name}"></label>
        <br>
        <input type="text" id="name_input_id" th:field="*{name}">
        <br>
        <br>
        <label th:for="color_input_id" th:text="#{brokenCar.color}"></label>
        <br>
        <select id="color_input_id" th:field="*{color}">
            <option th:each="colorOpt : ${T(com.infoshareacademy.car_service.dto.Color).values()}"
            th:value="${colorOpt}" th:text="${colorOpt.value}"></option>
        </select>
        <br>
        <br>
        <label th:for="yearOfProduction_input_id" th:text="#{brokenCar.yearOfProduction}"></label>
        <br>
        <input type="text" id="yearOfProduction_input_id" th:field="*{yearOfProduction}">
        <br>
        <br>
        <input type="submit" th:value="'submit'">
</form>
</div>
<nav>
  <div>
    <a th:href="@{/}">
      <button type="button" th:text="#{form.page.button.return}"></button>
    </a>
  </div>
</nav>

</body>
</html>