<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{service.title}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:class="container">
    <header>
        <h1 th:text="#{form.page.headline}"></h1>
    </header>

    <nav>
        <a th:href = "@{/welcomePage}" th:text="#{main.page}">
        </a>
        <a th:href = "@{/fixed/car/table}" th:text="#{check.fixed.cars}">
        </a>
        <a th:href = "@{/broken/car/table}" th:text="#{check.broken.cars}">
        </a>
        <a th:href = "@{/logout}" th:text="#{logout}">
        </a>
    </nav>
<main>
    <form th:class="registration" th:object="${car}" th:action="@{/car/new}" method="post">

        <div>
        <label th:for="registrationNumber_input_id" th:text="#{broken.car.registrationNumber}"></label>
        <br>
        <input type="text" id="registrationNumber_input_id" th:field="*{registrationNumber}">
            <ul>
                <li th:each="err : ${#fields.errors('registrationNumber')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
        <label th:for="name_input_id" th:text="#{broken.car.name}"></label>
        <br>
        <input type="text" id="name_input_id" th:field="*{name}">
            <ul>
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <label th:for="color_input_id" th:text="#{broken.car.color}"></label>
        <br>
        <select id="color_input_id" th:field="*{color}">
            <option th:each="colorOpt : ${T(com.infoshareacademy.car_service.dto.Color).values()}"
            th:value="${colorOpt}" th:text="${colorOpt.value}"></option>
        </select>

        <div>
        <label th:for="yearOfProduction_input_id" th:text="#{broken.car.yearOfProduction}"></label>
        <br>
        <input type="text" id="yearOfProduction_input_id" th:field="*{yearOfProduction}">
            <ul>
                <li th:each="err : ${#fields.errors('yearOfProduction')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <input type="submit" th:value="#{submit.button}">
    </form>
</main>
</div>
</body>
</html>