<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{service.title}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:class="container">
<main>
    <form th:class="registration" th:object="${user}" th:action="@{/user/new}" method="post">

        <div>
        <label th:for="name_input_id" th:text="#{user.name}"></label>
        <br>
        <input type="text" id="name_input_id" th:field="*{name}">
            <ul>
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
        <label th:for="lastName_input_id" th:text="#{user.lastName}"></label>
        <br>
        <input type="text" id="lastName_input_id" th:field="*{lastName}">
            <ul>
                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
        <label th:for="email_input_id" th:text="#{user.email}"></label>
        <br>
            <input type="text" id="email_input_id" th:field="*{email}">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>

        </div>
        <div>
        <label th:for="password_input_id" th:text="#{user.password}"></label>
        <br>
        <input type="text" id="password_input_id" th:field="*{password}">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
            <label th:for="city_input_id" th:text="#{user.city}"></label>
            <br>
            <input type="text" id="city_input_id" th:field="*{city}">
            <ul>
                <li th:each="err : ${#fields.errors('city')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
            <label th:for="street_input_id" th:text="#{user.street}"></label>
            <br>
            <input type="text" id="street_input_id" th:field="*{street}">
            <ul>
                <li th:each="err : ${#fields.errors('street')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
            <label th:for="houseNumber_input_id" th:text="#{user.house.number}"></label>
            <br>
            <input type="text" id="houseNumber_input_id" th:field="*{houseNumber}">
            <ul>
                <li th:each="err : ${#fields.errors('houseNumber')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <div>
            <label th:for="zipCode_input_id" th:text="#{user.zip.code}"></label>
            <br>
            <input type="text" id="zipCode_input_id" th:field="*{zipCode}">
            <ul>
                <li th:each="err : ${#fields.errors('zipCode')}" th:text="${err}" class="alert alert-danger"></li>
            </ul>
        </div>

        <input type="submit" th:value="#{submit.button}">
    </form>
</main>
</div>
</body>
</html>