<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{broken.cars.table.title}"></title>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav>
    <div>
        <a th:href="@{/}">
        </a>
    </div>
</nav>

<h1 th:text="#{broken.cars.headline}"></h1>
<div>
    <form th:action="@{/broken/car/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder = "Find by Registration Number" size="50">
        <input type="submit" value="search">
    </form>
</div>
<table>
    <tr>
        <th th:text="#{broken.car.registrationNumber}"></th>
        <th th:text="#{broken.car.name}"></th>
        <th th:text="#{broken.car.color}"></th>
        <th th:text="#{broken.car.yearOfProduction}"></th>
        <th th:text="#{broken.car.date}"></th>
        <th th:text="#{broken.car.isFixed}"></th>
    </tr>
    <tr th:each="brokenCar : ${car}" th:field="${brokenCar}">
        <td th:text="${brokenCar.registrationNumber}"></td>
        <td th:text="${brokenCar.name}"></td>
        <td th:text="${brokenCar.color}"></td>
        <td th:text="${brokenCar.yearOfProduction}"></td>
        <td th:text="${brokenCar.dateOfAddCar}"></td>
        <td>
            <a th:href="@{/broken/car/{id}(id=${brokenCar.id})}">
                <button type="button" th:text="#{broken.car.fix}"></button>
            </a>
        </td>
    </tr>
</table>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{broken.car.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>