<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{service.title}"></title>
</head>
<body>

<nav>
    <div>
        <a th:href="@{broken/car/table}">
        </a>
    </div>
</nav>

<h1 th:text="#{broken.car.info}"></h1>

<ul>
    <li th:text="#{broken.car.registrationNumber} + ': ' + ${cars.get().registrationNumber}"></li>
    <li th:text="#{broken.car.name} + ': ' + ${cars.get().name}"></li>
    <li th:text="#{broken.car.color} + ': ' + ${cars.get().color}"></li>
    <li th:text="#{broken.car.yearOfProduction} + ': ' + ${cars.get().yearOfProduction}"></li>
    <li th:text="#{broken.car.add.date} + ': ' + ${cars.get().dateOfAddCar}"></li>
    <div th:switch="${cars.get().isFixed}">
        <li th:if="${cars.get().isFixed}" th:text="#{broken.car.isFixed} + ': ' + #{broken.car.fixed}"></li>
        <li th:unless="${cars.get().isFixed}" th:text="#{broken.car.isFixed} + ': ' + #{broken.car.not.fixed}"></li>
        <a th:href="@{/fixed/car/{id}(id=${cars.get().id})}">
            <button type="button" th:text="#{broken.car.fix}"></button>
        </a>
    </div>
</ul>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{broken.car.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>