<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{cars.title}"></title>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav>
    <div>
        <a th:href="@{/}">
        </a>
    </div>
</nav>

<h1 th:text="#{cars.headline}"></h1>
<div>
    <form th:action="@{/search/broken/car}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder = "Find by Registration Number" size="50">
        <input type="submit" value="search">
    </form>
</div>
<table>
    <tr>
        <th th:text="#{car.id}"></th>
        <th th:text="#{car.registrationNumber}"></th>
        <th th:text="#{car.name}"></th>
        <th th:text="#{car.color}"></th>
        <th th:text="#{car.yearOfProduction}"></th>
        <th th:text="#{car.date}"></th>
        <th th:text="#{car.isFixed}"></th>
    </tr>
    <tr th:each="car : ${car}" th:field="${car}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.registrationNumber}"></td>
        <td th:text="${car.name}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.yearOfProduction}"></td>
        <td th:text="${car.today}"></td>
        <td>
            <a th:href="@{/broken/car/{id}(id=${car.id})}">
                <button type="button" th:text="#{car.fix}"></button>
            </a>
        </td>
    </tr>
</table>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{cars.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>