<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{cars.title}"></title>
</head>
<body>

<nav>
    <div>
        <a th:href="@{broken/car/table}">
        </a>
    </div>
</nav>

<h1 th:text="#{cars.headline}"></h1>

<ul>
    <li th:text="#{car.id} + ': ' + ${cars.get().id}"></li>
    <li th:text="#{car.registrationNumber} + ': ' + ${cars.get().registrationNumber}"></li>
    <li th:text="#{car.name} + ': ' + ${cars.get().name}"></li>
    <li th:text="#{car.color} + ': ' + ${cars.get().color}"></li>
    <li th:text="#{car.yearOfProduction} + ': ' + ${cars.get().yearOfProduction}"></li>
    <li th:text="#{car.date} + ': ' + ${cars.get().dateOfAddCar}"></li>
    <div th:switch="${cars.get().isFixed}">
        <li th:if="${cars.get().isFixed}" th:text="#{car.isFixed} + ': ' + #{car.fixed}"></li>
        <li th:unless="${cars.get().isFixed}" th:text="#{car.isFixed} + ': ' + #{car.not.fixed}"></li>
        <a th:href="@{/fixed/car/{id}(id=${cars.get().id})}">
            <button type="button" th:text="#{car.fix}"></button>
        </a>
    </div>
</ul>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{cars.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>