<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{carForRepairs.title}"></title>
</head>
<body>

<nav>
    <div>
        <a th:href="@{/carForRepairs/table}">
        </a>
    </div>
</nav>

<h1 th:text="#{carForRepairs.headline}"></h1>

<ul>
    <li th:text="#{carForRepair.id} + ': ' + ${carForRepairs.get().id}"></li>
    <li th:text="#{carForRepair.registrationNumber} + ': ' + ${carForRepairs.get().registrationNumber}"></li>
    <li th:text="#{carForRepair.name} + ': ' + ${carForRepairs.get().name}"></li>
    <li th:text="#{carForRepair.color} + ': ' + ${carForRepairs.get().color}"></li>
    <li th:text="#{carForRepair.yearOfProduction} + ': ' + ${carForRepairs.get().yearOfProduction}"></li>
    <li th:text="#{carForRepair.date} + ': ' + ${carForRepairs.get().today}"></li>
    <div th:switch="${carForRepairs.get().isFixed}">
        <li th:if="${carForRepairs.get().isFixed}" th:text="#{carForRepair.isFixed} + ': ' + #{carForRepair.fixed}"></li>
        <li th:unless="${carForRepairs.get().isFixed}" th:text="#{carForRepair.isFixed} + ': ' + #{carForRepair.not.fixed}"></li>
    </div>

</ul>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{carForRepairs.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>