<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{carForRepairs.title}"></title>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav>
    <div>
        <a th:href="@{/}">
        </a>
    </div>
</nav>

<h1 th:text="#{carForRepairs.headline}"></h1>

<table>
    <tr>
        <th th:text="#{carForRepair.id}"></th>
        <th th:text="#{carForRepair.registrationNumber}"></th>
        <th th:text="#{carForRepair.name}"></th>
        <th th:text="#{carForRepair.color}"></th>
        <th th:text="#{carForRepair.yearOfProduction}"></th>
        <th th:text="#{carForRepair.date}"></th>
        <th th:text="#{carForRepair.isFixed}"></th>
    </tr>
    <tr th:each="carForRepair, iterStat : ${carForRepair}" th:class="${iterStat.odd}? 'white-row'">
        <td th:text="${carForRepair.id}"></td>
        <td th:text="${carForRepair.registrationNumber}"></td>
        <td th:text="${carForRepair.name}"></td>
        <td th:text="${carForRepair.color}"></td>
        <td th:text="${carForRepair.yearOfProduction}"></td>
        <td th:text="${carForRepair.today}"></td>
        <td>
            <a th:href="@{/carForRepair/{id}(id=${carForRepair.id})}">
                <button type="button" th:text="#{carForRepair.fix}"></button>
            </a>
        </td>
    </tr>
</table>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{carForRepairs.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>