<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{cars.title}"></title>
</head>
<body>

<h1 th:text="#{cars.headline}"></h1>

<ul>
    <li th:text="${cars.registrationNumber}"> RN = TKI80K32</li>
    <li th:text="${cars.name}">Name: Hyundai</li>
    <li th:text="${cars.color}">Color: Black</li>
    <li th:text="${cars.yearOfProduction}">YoP: 1989</li>
    <li th:text="${cars.isFixed}">Fixed: False</li>
    <li th:text="${cars.today}">Date: 11.07.1997</li>
</ul>

<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{cars.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>