<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{cars.title}"></title>
</head>
<body>

<h1 th:text="#{fixed.car.headline}"></h1>

<ul>
    <li th:text="#{car.id} + ': ' + ${car.id}"></li>
    <li th:text="#{car.registrationNumber} + ': ' + ${car.registrationNumber}"></li>
    <li th:text="#{car.name} + ': ' + ${car.name}"></li>
    <li th:text="#{car.color} + ': ' + ${car.color}"></li>
    <li th:text="#{car.yearOfProduction} + ': ' + ${car.yearOfProduction}"></li>
    <li th:text="#{car.date} + ': ' + ${car.dateOfAddCar}"></li>
    <div th:switch="${car.isFixed}">
        <li th:if="${car.isFixed}" th:text="#{car.isFixed} + ': ' + #{car.fixed}"></li>
        <li th:unless="${car.isFixed}" th:text="#{car.isFixed} + ': ' + ${car.isFixed}"></li>
    </div>
</ul>

<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{cars.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>