<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{service.title}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:class="container">
<header>
    <h1 th:text="#{fixed.cars.headline}"></h1>
</header>

<nav>
    <a th:href = "@{/}" th:text="#{main.page}">
    </a>
    </a>
    <a th:href = "@{/broken/car/table}" th:text="#{check.broken.cars}">
    </a>
    <a th:href="@{/car/new}" th:text="#{add.new.car}">
    </a>
    <a th:href = "@{/logout}" th:text="#{logout}">
    </a>
</nav>

<main>
    <div th:class="table-wrapper">
    <table>
        <tr>
            <th th:text="#{broken.car.registrationNumber}"></th>
            <th th:text="#{broken.car.name}"></th>
            <th th:text="#{broken.car.color}"></th>
            <th th:text="#{broken.car.yearOfProduction}"></th>
            <th th:text="#{broken.car.add.date}"></th>
            <th th:text="#{broken.car.isFixed}"></th>
        </tr>
        <tr th:each="brokenCar: ${car}" th:field="${brokenCar}">>
            <td th:text="${brokenCar.getBrokenCar().getRegistrationNumber()}"></td>
            <td th:text="${brokenCar.getBrokenCar().getName()}"></td>
            <td th:text="${brokenCar.getBrokenCar().getColor()}"></td>
            <td th:text="${brokenCar.brokenCar.getYearOfProduction()}"></td>
            <td th:text="${brokenCar.getBrokenCar().getDateOfAddCar()}"></td>
            <td th:text="${brokenCar.fixedDate}"></td>
        </tr>
    </table>
    </div>
</main>
</div>
</body>
</html>