<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{brokenCars.title}"></title>
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav>
    <div>
        <a th:href="@{/}">
        </a>
    </div>
</nav>

<h1 th:text="#{brokenCars.headline}"></h1>

<table>
    <tr>
        <th th:text="#{brokenCar.id}"></th>
        <th th:text="#{brokenCar.registrationNumber}"></th>
        <th th:text="#{brokenCar.name}"></th>
        <th th:text="#{brokenCar.color}"></th>
        <th th:text="#{brokenCar.yearOfProduction}"></th>
        <th th:text="#{brokenCar.date}"></th>
        <th th:text="#{brokenCar.isFixed}"></th>
    </tr>
    <tr th:each="brokenCar: ${car}" th:field="${brokenCar}">
        <td th:text="${brokenCar.getBrokenCar().getId()}"></td>
        <td th:text="${brokenCar.getBrokenCar().getRegistrationNumber()}"></td>
        <td th:text="${brokenCar.getBrokenCar().getName()}"></td>
        <td th:text="${brokenCar.getBrokenCar().getColor()}"></td>
        <td th:text="${brokenCar.brokenCar.getYearOfProduction()}"></td>
        <td th:text="${brokenCar.getBrokenCar().getDateOfAddCar()}"></td>
        <td th:text="${brokenCar.fixedDate}"></td>
    </tr>
</table>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{brokenCars.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>