<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{service.title}"></title>
    <link th:href="@{styles.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1 th:text="#{fixed.cars.headline}"></h1>
<ul>
    <li th:text="#{broken.car.registrationNumber} + ': ' + ${car.registrationNumber}"></li>
    <li th:text="#{broken.car.name} + ': ' + ${car.name}"></li>
    <li th:text="#{broken.car.color} + ': ' + ${car.color}"></li>
    <li th:text="#{broken.car.yearOfProduction} + ': ' + ${car.yearOfProduction}"></li>
    <li th:text="#{broken.car.add.date} + ': ' + ${car.dateOfAddCar}"></li>
    <div th:switch="${car.isFixed}">
        <li th:if="${car.isFixed}" th:text="#{broken.car.isFixed} + ': ' + #{broken.car.fixed}"></li>
        <li th:unless="${car.isFixed}" th:text="#{broken.car.isFixed} + ': ' + ${car.isFixed}"></li>
    </div>
</ul>
<nav>
    <div>
        <a th:href = "@{/}">
            <button type = "button" th:text = "#{fixed.car.back.button}"></button>
        </a>
    </div>
</nav>
</body>
</html>