<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{service.title}"></title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:class="container">
    <header>
    </header>

    <nav>
        <a th:href = "@{user/new}" th:text="#{add.new.user}">
        </a>
        <a th:href = "@{user/login}" th:text="#{login.user}">
        </a>
    </nav>

    <main>
        <h1 th:text="#{welcome.page.headline}"></h1>
    </main>

</div>
</body>
</html>