<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{service.title}"></title>
    <link th:href="@{/css/registerform.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:class="headline">
    <h1 th:text="#{welcome.page.headline}"></h1>
</div>

<main>
    <div th:id="login-box">
        <div th:class="left">
            <a th:href = "@{/welcomePage}">
                <button class="social-signin form" type="button" th:text="#{log.in.credentials}">
                </button>
            </a>
        </div>

        <div th:class="right">
            <span th:class="loginwith" th:text="#{sign.in.with}"><br/></span>
            <button class="social-signin facebook" th:text="#{log.in.facebook}"></button>
            <button class="social-signin twitter" th:text="#{log.in.twitter}"></button>
            <button class="social-signin google" th:text="#{log.in.google}"></button>

        </div>
        <div class="or" th:text="#{or}"></div>
    </div>
</main>
</body>
</html>