<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{welcome-page.title}"></title>
</head>
<body>

<h1 th:text="#{welcome-page.all.carForRepairs}"></h1>
<nav>
    <div>
        <a th:href = "@{/carForRepairs/table}">
            <button type = "button" th:text = "#{welcome-page.button.submit}"></button>
        </a>
    </div>
    <h1 th:text="#{welcome.page.add.carForRepair.for.repair}"></h1>
    <div>
        <a th:href="@{/carForRepairs/new}">
            <button type="button" th:text="#{welcome-page.button.submit}"></button>
        </a>
    </div>

</nav>
</body>
</html>