<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{welcome-page.title}"></title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:class="container">
    <header>
    </header>

    <nav>
<!--        <a th:href = "@{broken/car/table}">-->
<!--            <button type = "button" th:text = "#{welcome-page.button.check}"></button>-->
<!--        </a>-->
<!--        <h1 th:text="#{welcome-page.fixed.cars}"></h1>-->
<!--        <a th:href = "@{fixed/car/table}">-->
<!--            <button type = "button" th:text = "#{welcome-page.button.check}"></button>-->
<!--        </a>-->

    </nav>

    <main>
        <h1 th:text="#{welcome-page.welcome}"></h1>
        <p th:text="#{info.welcome.page}"></p>
        <a th:href="@{/car/new}", th:target="_blank" th:text="#{add.new.car}">
        </a>
    </main>

    <footer></footer>

</div>
</body>
</html>